.bg {
    height: 100%; 
    background-image:url('../tools/css/changePassword/images/YosemiteNP18_1.jpg');  
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}